<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGEt</title>
</head>
<body>
    <h1>welcome to instagram</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error necessitatibus assumenda quae eum, quisquam consectetur quos, exercitationem animi officia ipsa accusamus, sequi quo. Nihil totam voluptas nulla quis. Delectus deserunt itaque explicabo quo voluptates, earum culpa doloremque, possimus nostrum laborum sunt at eligendi officia quibusdam reprehenderit porro pariatur neque illo voluptas odit assumenda optio provident reiciendis? Ea eveniet asperiores fuga harum illum eaque ullam exercitationem praesentium ratione, aliquid consequuntur. Dolor inventore temporibus, dolorem dolore rerum eum eligendi animi aspernatur nesciunt ipsa libero assumenda consequuntur! Incidunt sunt excepturi id. Aspernatur ad dolor culpa qui! Illo commodi iusto dolor hic quisquam quasi. Nobis itaque incidunt, quasi vero veniam nemo deleniti earum est nihil dolorem ducimus eos tempore laborum quo obcaecati aut vel illum quos error eligendi accusamus? In, cum, necessitatibus rerum vero iusto laboriosam minima possimus eveniet exercitationem culpa autem dolore! Laboriosam ex dignissimos molestias possimus libero consequuntur, obcaecati quibusdam unde amet ducimus numquam provident, sed eos a illo placeat deleniti ipsam eveniet sapiente autem quaerat sunt quis ad! Voluptate possimus nihil nobis, repellendus distinctio aspernatur a quasi quae nemo! Minima sapiente, ut aliquam voluptatum laboriosam eveniet earum debitis ipsum consectetur ea eos. Ipsa at a exercitationem odit voluptates laborum quos reiciendis.
    </p>
    <br>
    <a href="http://localhost:8080/ig/username">user id</a>
</body>
</html>